@import url("reset.min.css");
@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Tomorrow:700,100,400");

html {
	font-size: 17px;
}

body {
	-webkit-text-size-adjust: none;
	background: #e2e9ed;
	font-family: 'Tomorrow', serif;
	font-weight: 300;
	color: #777;
	line-height: 1.65rem;
	font-size: 15pt;
	height: 100vh;

	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding-top: 50px;
	overflow-x: hidden !important;

}

body:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background-color: #d1d7db;
	width: 100px;
	height: 100px;
	border-bottom-right-radius: 100%;
}

/* Main */

@keyframes fadeIn {
	from {top: 10%; opacity: 0;}
	to {top: 100; opacity: 1;}

}

@-webkit-keyframes fadeIn {
	from {top: 10%; opacity: 0;}
	to {top: 100; opacity: 1;}

}

@keyframes fadeInBottom {
	from {bottom: 40%; opacity: 0;}
	to {bottom: 15%; opacity: 1;}

}

@-webkit-keyframes fadeInBottom {
	from {bottom: 40%; opacity: 0;}
	to {bottom: 15%; opacity: 1;}

}


@media screen and (min-width: 1280px) {
	body {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
	}

	body .wrapper {
		width: 60%;
		height: 100vh
	}

	body .wrapper-cocktail {
		align-items: flex-end;
		margin-bottom: 20px;
		height: 90vh;
		width: 40%;
	}
	.wrapper-cocktail .message:after {
		top: -100px;
		width: 300px;
		height: 300px;
		right: 15%;
		transition: 1s;
	}
}

@media screen and (max-width: 1280px) {

	.wrapper {
		width: calc(100% - 80px);
		height: auto;
	}

	body .wrapper-cocktail {
		margin: 50px 50px 150px 50px;
		align-items: flex-end;
		margin-bottom: 20px;
		height: auto;
	}

	body .wrapper-cocktail .message {
		margin-top: 50px;
		margin-bottom: 150px;
	}

	.wrapper-cocktail .message:after {
		top: -50px;
		width: 200px;
		height: 200px;
		transition: 1s;
		left: 25%;
	}


	html {
		font-size: 15px;
	}

}

@media screen and (max-width: 980px) {

	.wrapper {
		width: calc(100% - 100px);
	}

}

@media screen and (max-width: 736px) {

	.wrapper {
		width: calc(100% - 40px);
	}

	html {
		font-size: 13px;
	}

}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.coming-soon {
	font-weight: 600;
}

.wrapper img{
	max-width: 400px;
	width: 90%;

	transition: 4s;
	animation: fadeIn 1000ms ease;
	-webkit-animation: fadeIn 1000ms ease;
}

h1 {
	font-size: 1.3rem;
	margin-bottom: 0;font-weight: 400;
	font-family: 'Tomorrow', serif;
	text-align: center;
	padding: 10px;

	animation: fadeInBottom 1300ms ease;
	-webkit-animation: fadeInBottom 1300ms ease;
	width: 100%;
}



.dot {
	color: #77d046;
	font-size: 3rem;
	line-height: 0;
}

/* COCKTAIL */

.drink-author {
	background-color: #a2a2a2;
	color: #fff;
	padding: 3px 15px;
	border-radius: 30px;
	font-size: .7rem;
	font-weight: 500;
	margin-top: 80px;
}
.wrapper-cocktail {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.wrapper-cocktail .message {
	width: 100%;
	position: relative;
}

.wrapper-cocktail .message:after {
	content: "";
	position: absolute;
	background-color: #d1d7db;
	border-radius: 50%;
	z-index: -1;
}

.wrapper-cocktail .message p {
	font-size: 2rem;
	line-height: 2.3rem;
}

.cocktail {
	position: relative;
	width: 300px;
	height: 300px;
	border: 13px solid #fff;
	border-radius: 50%;
}
.cocktail:before {
	position: absolute;
	z-index: -2;
	width: 0;
	height: 0;
	content: "";
	border-top: 150px solid #cfe7f5;
	border-right: 150px solid #e2e9ed;
	border-bottom: 150px solid #cfe7f5;
	border-left: 150px solid #cfe7f5;
	border-radius: 150px;
}
.cocktail:after {
	position: absolute;
	z-index: -1;
	top: 70px;
	right: 70px;
	bottom: 70px;
	left: 70px;
	content: "";
	border-radius: 50%;
	background: #5db8b6;
}
.cocktail .liquid {
	position: absolute;
	z-index: 3;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	transform: translatex(-15px);
	-webkit-animation: liquid 1.5s ease-in-out infinite;
	animation: liquid 1.5s ease-in-out infinite;
	border-radius: 50%;
	background: rgba(139, 233, 193, 0.6);
}
.cocktail .straw {
	position: absolute;
	z-index: 1;
	bottom: 70px;
	left: 50%;
	width: 20px;
	height: 0;
	transform: translatex(-50%);
	border-top: 300px solid #ff7647;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
.cocktail .straw:before {
	position: absolute;
	top: -310px;
	right: 0;
	left: 0;
	height: 20px;
	content: "";
	transform: scale(1.5);
	border-radius: 50%;
	background: #cd4727;
}
.cocktail .straw:after {
	position: absolute;
	top: -10px;
	right: 0;
	left: 0;
	height: 20px;
	content: "";
	border-radius: 50%;
	background: #ff7647;
}
.cocktail .straw-surface {
	position: absolute;
	z-index: 5;
	bottom: 240px;
	left: 50%;
	width: 25px;
	height: 0;
	transform: translatex(-50%);
	border-top: 100px solid #ff7647;
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
}
.cocktail .straw-surface:after {
	position: absolute;
	top: -10px;
	right: 0;
	left: 0;
	height: 20px;
	content: "";
	border-radius: 50%;
	background: #ff7647;
}
.cocktail .ice-cubes {
	transform-origin: 47% 65%;
	-webkit-animation: ice-cubes 8s ease-in-out infinite;
	animation: ice-cubes 8s ease-in-out infinite;
}
.cocktail .ice-cube {
	width: 80px;
	height: 80px;
	border-radius: 20px;
	background: #fff;
}
.cocktail .ice-cube.ice-cube-1 {
	transform: translate(100px, 70px) rotate(10deg);
	background: #bcdbce;
}
.cocktail .ice-cube.ice-cube-2 {
	position: relative;
	z-index: 2;
	transform: translate(160px, 100px) rotate(30deg);
}
.cocktail .ice-cube.ice-cube-3 {
	transform: translate(40px, 0) rotate(-30deg);
}
.cocktail .leaves {
	transform-origin: 46% -42%;
	-webkit-animation: ice-cubes 12s ease-in-out infinite;
	animation: ice-cubes 12s ease-in-out infinite;
}
.cocktail .leave {
	width: 100px;
	height: 70px;
	border-radius: 100px 0;
	background: #19ab87;
}
.cocktail .leave:before {
	position: absolute;
	width: 1px;
	height: 115px;
	content: "";
	transform: rotate(55deg) translate(10px, -53px);
	background: #3fc295;
}
.cocktail .leave.leave-1 {
	transform: translate(40px, -160px) rotate(-30deg);
}
.cocktail .leave.leave-2 {
	transform: translate(160px, -180px) rotate(30deg);
}
.cocktail .leave.leave-3 {
	position: relative;
	z-index: 4;
	transform: translate(70px, -190px) rotate(80deg);
}
.cocktail .lemon-slice {
	position: absolute;
	z-index: 1;
	width: 125px;
	height: 65px;
	transform: translate(146px, -178px) rotate(45deg);
	-webkit-animation: lemon 3s ease-in-out infinite;
	animation: lemon 3s ease-in-out infinite;
	border: 10px solid #ecf9c0;
	border-bottom: 0;
	border-radius: 100px 100px 0 0;
	background: #cff063;
}
.cocktail .lemon-slice:before, .cocktail .lemon-slice:after {
	position: absolute;
	width: 30px;
	height: 20px;
	content: "";
	border-radius: 50px 0;
	background: #aad815;
}
.cocktail .lemon-slice:after {
	top: 30px;
	left: 30px;
	transform: rotate(90deg);
}
.cocktail .lemon-slice:before {
	top: 30px;
	right: 30px;
	transform: rotate(-40deg);
}
.cocktail .shadow {
	position: absolute;
	z-index: -10;
	top: 50%;
	width: 400px;
	height: 340px;
	transform: translatey(-50%) rotate(45deg);
	transform-origin: 20% 100%;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.2) -60%, rgba(0, 0, 0, 0));
}

@-webkit-keyframes liquid {
	from {
		transform: translatex(-15px);
	}
	50% {
		transform: translatex(15px);
	}
	to {
		transform: translatex(-15px);
	}
}

@keyframes liquid {
	from {
		transform: translatex(-15px);
	}
	50% {
		transform: translatex(15px);
	}
	to {
		transform: translatex(-15px);
	}
}
@-webkit-keyframes ice-cubes {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes ice-cubes {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes lemon {
	from {
		transform: translate(146px, -178px) rotate(45deg);
	}
	50% {
		transform: translate(146px, -178px) rotate(60deg);
	}
	to {
		transform: translate(146px, -178px) rotate(45deg);
	}
}
@keyframes lemon {
	from {
		transform: translate(146px, -178px) rotate(45deg);
	}
	50% {
		transform: translate(146px, -178px) rotate(60deg);
	}
	to {
		transform: translate(146px, -178px) rotate(45deg);
	}
}

/*SOCIAL MEDIA*/
.social {
	margin-top: 20px;
}
.social ul{
	display: flex;
}

.social ul li{
	list-style: none;
	margin: 0 15px;
}

.social ul li .fab{
	font-size: 30px;
	line-height: 60px;
	transition: .3s;
	color: #353535;
}

.social ul li a{
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	transition: .6s;
}

.social ul li:hover .fab {
	color: #eeeeee;
	transition: .4s;
}
.social ul li a:hover{
	transform: translate(0, -5%);
}

.social ul li:nth-child(1) a:hover{
	background-color: #E4405F;
}
.social ul li:nth-child(2) a:hover{
	background: #f09433;
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.social ul li:nth-child(3) a:hover{
	background-color: #3b5998;
}
.social ul li:nth-child(4) a:hover{
	background-color: #000;
}
